MONGO_URI=mongodb+srv://aarzoosagar270_db_user:xFITzR8OsEwYaWuF@task.kvp5hda.mongodb.net/team_task_manager?retryWrites=true&w=majority

JWT_SECRET_KEY=change-this-to-a-long-random-string-in-production

FLASK_ENV=development